* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    transition: 0.5s;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}
/* Mennu */

#barra-menu {
    width: 100%;
    float: left;
    padding: 2% 30px;
    z-index: 999;
    transition: 0.5s;
    position: static;
    background-color: transparent;
    
    
}

.menu {
    width: 100%;
    height: 60px;
    position:absolute;
    background-color: transparent;
    top: 2%;
    left: 0;
    display:inline-flex;
    float: right;
}

.menu ul {
    text-align: center;
    width: 100%;
}

.menu li {
    padding: 1%;
    display: inline;
    float: right;
   
}


.menu a {
    color: #4070f4;
    padding: 2% 3%;
    text-transform: uppercase;
    font-size: 20px;
}

.menu li a {
   
    padding: 2px 0.2em 0.2em 2px;
    width: 6.0em;
    cursor: pointer;
    border-radius: 6px;
}

.menu a:hover {
    color: #fff;
    border-color: #00f;
    background: #999;
}

/* header*/

header {
    height: 80vh;
    display: flex;
    align-items: center;
    padding: 5px 25px;
}


#fundo-menu {
    position:absolute;
    right: 0;
    top: 80px;
    width: 60%;
    height: 400px;
    min-width: auto;
    z-index: -1;
    border-radius: 15%;
  
    
    
}

#fundo{
    bottom: 25px;
    position: relative;
    
}

header article button{
    position: relative;
    right: 15px;
    background-color: #4070f4;
    border: none;
    border-radius: 50px;
    color: #fff;
    padding: 15px 40px;
    font-size: 15px;
    cursor: pointer;
    margin-left: 10px;
    
    
}

header article button:hover {
    background-color: rgb(15, 12, 12);
    padding: 15px 50px;
    transition: 0.5s;
}

header article h1 {
    position: relative;
    text-transform: uppercase;
    font-size: 35px;
    margin-top: 30px;
    color: rgb(150, 25, 60);
    
}

header article p {
    padding-right: 70%;
    margin: 20px 0px;
    font-size: 14px;
    text-transform: uppercase;
    color: rgb(36, 16, 214);
}

/*Quem somos*/

#quem-somos {
    align-items: center;
    width: 90%;
    height: 450px;
    background-color: #FFFFE5;
    border-radius: 30px;  
    margin-left: 5%;
    
}

#imagem-quem{
    text-align: center;
    padding-top: 50px;
}

#texto-quem {
    text-align: center;
    padding-top: 25px;
}

#texto-quem h1{
    font-size: 30px;
    font-style: italic;
    margin: 15px 20px;
}
#texto-quem p{
    font-size: 20px;
    font-style: italic;
    position: relative;
}

/*Produtos*/

#produtos{

    padding-top: 15px;
    background-color: #999;
    position: relative;
    height: 600px;
    margin-top: 15px;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 15px;
    align-items: center;
    text-align: center;
    display: inline-block;
}

#titulo{
    position: relative;
    top: 8px;
    text-align: center;
    color: aqua;
}

#separacao{
    position: relative;
    top: 25px;
    margin-left: 10px;
    margin-right:10px ;
    display:inline-flex;
    
    
}

#produtos article {
    background-color: #4070f4;
    margin: 2px;
    border-radius: 12px;
}

#produtos h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rebeccapurple;
    font-size: 20px;

}
#produtos p {
    color: red;
    font-size: 15px;
    padding-bottom: 20px;
    padding-top: 20px;
}

#produtos button{
    position:relative;
    background-color: #fff;
    border-radius: 12px;
    width: 100%;
    height: 45px;
    color:rgb(36, 16, 214);
    
}

#produtos button:hover{
    background-color: aqua;
    transition: 0.5s;
}