* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    transition: 0.5s;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}
/* Mennu */

#barra-menu {
    width: 100%;
    float: left;
    padding: 2% 30px;
    z-index: 999;
    transition: 0.5s;
    position: static;
    background-color: transparent;
    
    
}

.menu {
    width: 100%;
    height: 60px;
    position:absolute;
    background-color: transparent;
    top: 2%;
    left: 0;
    display:inline-flex;
    float: right;
}

.menu ul {
    text-align: center;
    width: 100%;
}

.menu li {
    padding: 1%;
    display: inline;
    float: right;
   
}


.menu a {
    color: #4070f4;
    padding: 2% 3%;
    text-transform: uppercase;
    font-size: 20px;
}

.menu li a {
   
    padding: 2px 0.2em 0.2em 2px;
    width: 6.0em;
    cursor: pointer;
    border-radius: 6px;
}

.menu a:hover {
    color: #fff;
    border-color: #00f;
    background: #999;
}

/* header*/

header {
    height: 80vh;
    display: flex;
    align-items: center;
    padding: 5px 25px;
    

}

#fundo-menu {
    position:absolute;
    right: 0;
    top: 70px;
    width: 60%;
    height: 400px;
    min-width: auto;
    z-index: -1;
    border-radius: 50px;   
    
}

header article button{
    background-color: #4070f4;
    border: none;
    border-radius: 50px;
    color: #fff;
    padding: 15px 40px;
    font-size: 15px;
    cursor: pointer;
    margin-left: 10px;
    
    
}

header article button:hover {
    background-color: rgb(15, 12, 12);
    padding: 15px 50px;
    transition: 0.5s;
}

header article h1 {
    position: relative;
    text-align:justify;
    text-transform: uppercase;
    font-size: 35px;
    margin-top: 30px;
    color: rgb(150, 25, 60);
}

header article p {
    padding-right: 70%;
    margin: 20px 0px;
    font-size: 14px;
    text-transform: uppercase;
    color: rgb(36, 16, 214);
}

/*Estilizando os produtos*/

#quem-somos {
    width: 100%;
    height: 400px;
    background-color: #999;
    border-radius: 30px;  
}

#imagem-quem{
    text-align: center;
    padding-top: 50px;
}

#texto-quem {
    text-align: center;
    padding-top: 25px;
}

#texto-quem h1{
    font-size: 30px;
    font-style: italic;
}
#texto-quem p{
    font-size: 20px;
}